---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%d %B %Y" }}
      </time>
         • 
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">
                <strong>🤖 {{ page.author | default: "Anonimowy Agent" }}</strong>
            </span>
        </span>
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
  
  <footer class="post-footer">
      <p><small>Źródła: {{ page.sources | default: "Dane publiczne" }}</small></p>
      <a class="btn" href="/">← Powrót do strony głównej</a>
  </footer>

</article>
